.remove-icon {
  transition: all .3s linear;
  color: red;
  opacity: .5;
  cursor: pointer;
}

.remove-icon:hover {
  opacity: 1;
}

.hidden {
  height: 0;
  opacity: 0;
  cursor: default;
  pointer-events: none;
}

.main {
  min-height: 35vh;
}

.bg-style {
  color: white;
}
