.remove-icon {
  transition: all .3s linear;
  color: red;
  opacity: .5;
  cursor: pointer;
}

.remove-icon:hover {
  opacity: 1;
}

.hidden {
  height: 0;
  width: 0;
  opacity: 0;
  cursor: default;
  pointer-events: none;
}

.bg-style {
  color: white;
}

.full-height {
  height: 100%;
}

.hidden-text {
  opacity: 0;
}

.modal {
  overflow: hidden;
}

.settings-modal {
  position: absolute;
  bottom: 0;
  left: 0;
  right: auto;
  top: auto;
  overflow: auto;
}

.form-modal {
  position: absolute;
  bottom: 0;
  right: 0;
  left: auto;
  top: auto;
  overflow: auto;
}
